# Ignore everything
*

# Do not ignore .gitignore itself
!.gitignore

# Do not ignore jar files in any directory
!*.jar
!**/*.jar

# Do not ignore target/ directory and jar files inside it
!target/
!target/*.jar
